<div class="form-group">
  <label>Post Name</label>
  <input
    type="text"
    class="form-control"
    placeholder="Enter Post Name"
    [(ngModel)]="postObj.postName"
    (keyup.enter)="postCreate($event)"
    [value]="postObj.postName"
  />
</div>
<div class="form-group">
  <label for="">Post Author</label>
  <select
    name=""
    id=""
    class="form-control"
    placeholder="Select Author"
    [(ngModel)]="postObj.postAuthor"
    (keyup.enter)="postCreate($event)"
    [value]="postObj.postAuthor"
  >
    <option value="" disabled>Select Author</option>
    <option value="Mohit">Mohit</option>
    <option value="Rajat">Rajat</option>
    <option value="Naman">Naman</option>
    <option value="Ram">Ram</option>
  </select>
</div>
<div class="form-group">
  <label>Post Descripation</label>
  <textarea
    class="form-control"
    rows="5"
    [(ngModel)]="postObj.postDesc"
    (keyup.enter)="postCreate($event)"
    [value]="postObj.postDesc"
  >
  </textarea>
</div>

<button
  *ngIf="!updateButton"
  type="submit"
  class="btn btn-primary"
  (click)=" postCreate(postEdit.index)"
  [disabled]="
    postObj.postName == '' ||
    postObj.postAuthor == '' ||
    postObj.postDesc?.trim() == ''
  "
>
  Submit
</button>
<button
  *ngIf="updateButton"
  type="submit"
  class="btn btn-primary"
  (click)="postUpdate(postEdit.index)"
  [disabled]="
    postObj.postName == '' ||
    postObj.postAuthor == '' ||
    postObj.postDesc?.trim() == ''

  "
>
  Update
</button>
