
.heading {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  margin: 10px;
}
.form-control-lg{
  margin: 10px;
}

li {
  list-style-type: none;
}
.answer {
  background-color: green;
  color: white;
}
.answer::placeholder {
  color: white;
}
.table{
  margin-bottom: 50px;
}
.badge{
  background-color: green;
  color: white;
}
.btn {
  width: auto;
}