.heading {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}
.form-control-lg,
.btn {
  margin: 10px;
}

li {
  list-style-type: none;
}
.answer {
  background-color: green;
  color: white;
}
.answer::placeholder {
  color: white;
}
