.background{
    background-color: #659dbd;
    padding: 0;
    margin: 0;
    height: 100%
  }
  .heading {
    text-align: center;
    font-weight: 700;
    font-size: 3.2rem;
    color: white;
    margin-top: 15px;
  }
  .card {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 75%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 105px;
  }
  hr {
    background-color: white;
  }
  .card-title {
    color: red;
    font-size: 1.9rem;
  }
  .question {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .questionText{
    display: flex;
  }
  .questionNumber,
  .question-text {
    font-weight: 600;
    font-size: 1.5rem;
  }