<div class="background">
  <div class="contianer">
    <div class="row">
      <h1 class="heading">A Fun Quiz Application</h1>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Please Attempt All the Questions</h5>
          <hr />
          <div class="question" *ngFor="let question of questionArray; let i = index;">
            <div class="questionText">
              <p class="questionNumber">Q.{{i + 1}}</p>&nbsp;&nbsp;&nbsp;
              <p class="question-text">{{ question?.question }}</p>
            </div>

            <div class="form-check" *ngFor="let option of question.optionArray;let ind = index;">
              <input
                class="form-check-input"
                type="radio"
                name="ques{{i}}"
                [value]="true"       
                [checked]="option.checked == true"
                (change)="onRadioChange(i, ind)"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                {{option?.text}}
              </label>
            </div>
          </div>
          <hr />
          <button class="btn btn-primary" (click)="finalSubmit()">Submit Answer</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
